@import "~antd/dist/antd.css";

body {
  font-family: "Montserrat", sans-serif;
  height: auto;
}
.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 8px #f0f1f2;
  background-color: #fff;
}
.logo {
  flex: 1;
  color: #1890ff;
}
.logobtn {
  font-size: 1.5rem;
}
.navbtn {
  font-size: 1rem;
}
.landing {
  position: relative;
  height: calc(100vh - 160px);
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1.2rem;
  }
}
.container {
  position: absolute;
  right: 0;
  left: 0;
  top: 60px;
  bottom: 0;
  margin: auto;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    color: #1890ff;
    font-size: 3rem;
    font-weight: bold;
  }
}
